<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="{{product.thumbnail}}" alt="Card image cap"
                        id="product-detail">
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2"><b>{{product.title}}</b></h1>
                        <p class="h3 py-2">{{product.price}}.000đ</p>
                        <p class="py-2">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <span class="list-inline-item text-dark">Đánh giá: {{product.rating}}</span>
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Thương hiệu:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>{{product.brand}}</strong></p>
                            </li>
                        </ul>

                        <h6>Mô tả:</h6>
                        <p>{{product.description}}</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Phân loại :</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>{{product.category}}</strong></p>
                            </li>
                        </ul>
                        <!--     
                            <h6>Chi tiết:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>✦ CPU: i3, 1115G4, 3GHz</li>
                                <li>✦ Ram: 8 GB, DDR4 2 khe (1 khe 8GB + 1 khe rời), 2666 MHz</li>
                                <li>✦ Màn hình: 15.6, "Full HD (1920 x 1080)</li>
                                <li>✦ Hệ điều hành: Windows 11 Home SL + Office Home & Student vĩnh viễn</li>
                                <li>✦ Card màn hình: Card tích hợp, Intel UHD</li>
                                <li>✦ Ra mắt: 2021</li>
                            </ul> -->

                        <form action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="col-auto">
                                <ul class="list-inline pb-3">
                                    <li class="list-inline-item text-right">
                                        Số lượng
                                        <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                    </li>
                                    <li class="list-inline-item"><span class="btn btn-primary" id="btn-minus">-</span>
                                    </li>
                                    <li class="list-inline-item"><span class="badge bg-secondary"
                                            id="var-value">1</span></li>
                                    <li class="list-inline-item"><span class="btn btn-primary" id="btn-plus">+</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row pb-3">
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-primary btn-lg" name="submit"
                                        value="buy">Mua</button>
                                </div>
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-primary btn-lg" name="submit"
                                        value="addtocard">Thêm vào giỏ hàng</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>